<div class="container-fluid">
    <h2 style="text-align:center"> Registration Form </h2>
    <form [formGroup]="registrationform" >
        <div class="form-group">
            <label>UserName</label>         
            <input  [class.is-invalid]="registrationform.get('username')?.invalid &&  registrationform.get('username')?.touched"   formControlName="username" type="text" class="form-control">
          
            <small [class.d-none]="registrationform.get('username')?.valid ||  registrationform.get('username')?.untouched" class="text-danger"> username is required</small>
        </div>
        <br>
        <div class="form-group">
            <label>Password</label>
            <input  [class.is-invalid]="registrationform.get('password')?.invalid &&  registrationform.get('password')?.touched" formControlName="password" type="password" class="form-control">
        </div>
        <br>
        <div class="form-group">
            <label>Confirm Password</label>
            <input   [class.is-invalid]="registrationform.get('confirmpassword')?.invalid &&  registrationform.get('confirmpassword')?.touched"  formControlName="confirmpassword" type="password" class="form-control">
        </div>
        <br>
        <button  class="btn btn-primary" type="submit">Submit</button>
        <button (click)="onsubmit()" class="btn btn-secondary nl-2" type="submit">Load Api Data</button>
    </form>
    {{registrationform.value | json}}
</div> 