<div class="container-fluid">
    <h2 style="text-align:center"> Registration Form </h2>
    <form [formGroup]="registrationform" >
        <div class="form-group">
            <label>UserName</label>         
            <input  [class.is-invalid]="registrationform.get('username')?.invalid &&  registrationform.get('username')?.touched"   formControlName="username" type="text" class="form-control">
          <!-- if i have more than validation -->

          <div *ngIf="username?.invalid &&  username?.touched">
            <small *ngIf="username?.errors?.['required']" class="text-danger"> username is required</small>
            <small *ngIf="username?.errors?.['minlength']" class="text-danger"> username must greater than 3 character</small>          
            <small *ngIf="username?.errors?.['forbiddenName']" class="text-danger">{{username?.errors?.['forbiddenName']?.value}}  forbidden</small> 
           </div> 
           
           
        </div>
        <br>
        <div class="form-group">
            <label>Password</label>
            <input  [class.is-invalid]="registrationform.get('password')?.invalid &&  registrationform.get('password')?.touched" formControlName="password" type="password" class="form-control">
        </div>
        <br>
        <div class="form-group">
            <label>Confirm Password</label>
            <input   [class.is-invalid]="registrationform.get('confirmpassword')?.invalid &&  registrationform.get('confirmpassword')?.touched"  formControlName="confirmpassword" type="password" class="form-control">
        </div>
        <br>
        <button  class="btn btn-primary" type="submit">Submit</button>
        <button (click)="onsubmit()" class="btn btn-secondary nl-2" type="submit">Load Api Data</button>
    </form>
    {{registrationform.value | json}}
</div> 